html {
	  box-sizing: border-box;
	}

	*{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: "Poppins" , sans-serif;
	}

	.column {
	  float: left;
	  width: 33.33%;
	  margin-bottom: 16px;
	  padding: 0 8px;
	}

	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  margin: 8px;
	}

	.about-section {
	  padding: 50px;
	  text-align: center;
	  background-color: #474e5d;
	  color: white;
	}

	.container {
	  padding: 0 16px;
	}

	.container::after, .row::after {
	  content: "";
	  clear: both;
	  display: table;
	}

	}

	@media screen and (max-width: 650px) {
	  .column {
		width: 100%;
		display: block;
	  }
	}
	
	p {
	  text-align: justify;
	  text-justify: inter-line;
	  text-align-last: center;
	}
